<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <!-- Defines the Access Control for the Settings and Modules -->
    <acl>
        <resources>
            <!-- Magento Admin ACL -->
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <!-- Security Suite ACL Settings Definition -->
                    <resource id="MiniOrange_SecuritySuite::SecuritySuite" title="Security Suite" sortOrder="50">
                        <!-- Two-Factor Authentication ACL definition -->
                        <resource id="MiniOrange_SecuritySuite::twofactor" title="Two-Factor Authentication" sortOrder="10"/>
                        <!-- Brute Force Protection ACL definition -->
                        <resource id="MiniOrange_SecuritySuite::bruteforce" title="Brute Force Protection" sortOrder="20"/>
                        <!-- IP Rate Limiting ACL definition -->
                        <resource id="MiniOrange_SecuritySuite::ratelimiting" title="IP Rate Limiting" sortOrder="30"/>
                        <!-- Admin Activity Logs ACL definition -->
                        <resource id="MiniOrange_SecuritySuite::adminactivity" title="Admin Activity Logs" sortOrder="40"/>
                        <!-- SSO ACL definition -->
                        <resource id="MiniOrange_SecuritySuite::sso" title="SSO" sortOrder="50"/>
                        <!-- Azure SSO ACL definition -->
                        <resource id="MiniOrange_SecuritySuite::azure-sso" title="Azure SSO" sortOrder="60"/>
                        <!-- Account ACL definition -->
                        <resource id="MiniOrange_SecuritySuite::Account" title="Account" sortOrder="50"/>
                        <!-- Upgrade ACL definition -->
                        <resource id="MiniOrange_SecuritySuite::upgrade" title="Upgrade" sortOrder="60"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
